* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  box-shadow: 0px 0px 21.0561px rgba(0, 0, 0, 0.11);
  width: 500px;
  height: 150px;
  display: flex;

  /* justify-content: space-between; */
  align-items: center;
  margin: 20px;
}
.details-para {
  margin: 40px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.input {
  background: #ffffff;
  padding: 15px 15px;
  box-shadow: 0px 0px 11.2285px rgba(0, 0, 0, 0.06);
  margin-left: 30px;
  width: 1200px;
  text-align: left;
}
.input-button {
  background: #2d99da;
  border: none;
  color: #fff;
  padding: 15px 35px;
}

.para1,
.para2,
.para3,
.para4,
.para5 {
  font-family: Manrope;
}
.para1 {
  font-weight: bold;
}
.para1 {
  color: #2d99da;

  font-size: 12px;
}
.para2 {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}
.para3 {
  font-size: 11px;
  margin-top: 5px;
}
.para4 {
  font-weight: bold;
  font-size: 10px;
  margin-top: 10px;
}
.para5 {
  font-size: 11px;
  margin-top: 5px;
}
.para-div {
  padding: 5px 10px;
}

.btn1,
.btn2,
.btn3 {
  margin-top: 70px;
  font-family: Manrope;
}
.btn1 {
  margin-left: 40px;
}
.btn1,
.btn3 {
  border: 0.3px solid #92a1b4;
  background: #fff;
  color: black;
}
.btn2 {
  border: none;
  background: #2d99da;
  color: #fff;
  font-family: Manrope;
}
.btn2:hover {
  background: lightseagreen;
}

@media screen and (min-width: 1200px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .para-div {
    width: auto;
  }
  .details-container {
    width: auto;
    height: auto;
  }
  .main {
    display: flex;
    width: auto;
    height: auto;
  }

  .input {
    width: auto;
  }
  .input-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .main-heading {
    text-align: center;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
