.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #6f359e;
  color: white;
  padding: 20px;
}
.footer-input {
  background: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: Manrope;
}
.footer-btn {
  padding: 10px 20px;
  font-family: Manrope;
  font-weight: bold;
}
.footer-btn:hover {
  background: #2d99da;
  color: white;
}
@media screen and (max-width: 550px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}
