.profile-container {
  display: flex;
  padding: 30px 0px;

  flex: start;
  justify-content: space-evenly;
  margin: 60px;
  box-shadow: 0px 0px 21.0561px rgba(0, 0, 0, 0.11);
}

.profile-para {
  padding: 10px;
  font-family: Manrope;
  margin-top: 15px;
}
.profile-btn1,
.profile-btn2,
.profile-btn3 {
  font-family: Manrope;
  padding: 10px 30px;
  margin-top: 100px;
  color: black;
  border: 1px solid #92a1b4;
}
.profile-btn3 {
  border: 1px soild #2d99da;
}
.profile-btn1,
.profile-btn2 {
  border: 1px solid #92a1b4;
}
.profile-btn3 {
  background: #2d99da;
  border: none;
  color: #fff;
}
.home {
  display: flex;
  padding: 20px;
  margin: 0px 50px;
}
.home-para {
  margin: 5px;
  color: #c9c9c9;
  font-family: Manrope;
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

    align-items: center;
  }
  .profile-para {
    text-align: center;
    margin: 5px;
  }
  img {
    align-items: center;
  }
  .profile-btn1,
  .profile-btn2,
  .profile-btn3 {
    margin: 5px;
  }
}
@media screen and (max-width: 550px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
  }
  img {
    align-items: center;
  }
  .profile-para {
    text-align: center;
    margin: 10px;
    padding: 5px;
  }
  .profile-btn1,
  .profile-btn2,
  .profile-btn3 {
    margin: 5px;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
