.section-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1300px;
}
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.register-para {
  font-family: Manrope;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
.form {
  position: relative;
  bottom: 80px;
  width: auto;
  height: auto;
  background-color: #ebf4ff;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  justify-content: space-evenly;
}
input {
  text-align: left;
  background: rgba(255, 255, 255, 0.68);
  opacity: 0.5;
  border: 0.561439px solid #92a1b4;
  border-radius: 4.49152px;
  padding: 12px 10px;
}
.interest {
  padding: 13px 10px;
  text-align: left;
  background: rgba(255, 255, 255, 0.68);
  opacity: 0.5;
  border: 0.561439px solid #92a1b4;
  border-radius: 4.49152px;

  margin: 10px 10px;
}
.textarea {
  /* text-align: left; */

  text-align: top;
  background: rgba(255, 255, 255, 0.68);
  opacity: 0.5;
  border: 0.561439px solid #92a1b4;
  border-radius: 4.49152px;
  padding: 40px 10px;
  margin: 15px 5px;
}
.form-btn {
  background-color: #2d99da;
  color: #fff;
  font-family: Manrope;
  border: none;
  width: 150px;
}
.note {
  font-size: 10px;
  font-family: Manrope;
  width: 300px;
  padding: 15px 10px;
}
.form-para {
  display: flex;
  justify-content: space-around;
  font-family: Manrope;
  padding: 10px 0px;
}
.box-1 {
  display: flex;
  justify-content: space-around;
}
.box-2 {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  margin: 10px 30px;
}
.box-para3 {
  width: 200px;
}
.box-para1,
.box-para2,
.box-para3 {
  font-family: Manrope;
  font-weight: bold;
  line-height: 143.7%;
}

.box-2,
.box-1 {
  align-items: center;
}
.form-btn {
  padding: 10px 30px;
  margin-left: 5px;
}
.box-btn {
  padding: 10px 25px;
  height: 40px;
  background: #6f359e;
  color: #fff;
}
.grid-box {
  border: 3px solid #6f359e;
  border-radius: 5px;
  padding: 15px 10px;
}

@media screen and (max-width: 457px) {
  .box-para3,
  .box-para1,
  .box-para2 {
    width: auto;
    font-size: 12px;
  }
  .box-btn {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 1250px) {
  .section-container {
    width: auto;
    /* flex-direction: column; */
  }
}

@media screen and (max-width: 519px) {
  .form-container {
    /* width: 500px; */
    margin: 0 auto;
    width: auto;
  }

  .grid1 {
    margin: 0 auto;
    width: auto;
  }
  .grid-box {
    margin: 0 auto;
    width: auto;
  }
}
@media screen and (max-width: 990px) {
  .section-container {
    display: flex;
    flex-direction: column;
  }
  .form-para {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-box {
    width: auto;
    /* display: flex; */
    /* margin: 0 auto; */
  }
  .grid-container {
    width: auto;
    margin: 0 auto;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .form {
    width: auto;
  }
  input {
    width: auto;
  }
}
