.sectionListContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  height: 200px;
  background-color: #778ba3;
  margin: 40px 70px;
}
.sectionList-para {
  padding: 5px;
  font-family: Manrope;
  font-size: 12px;
  color: #fff;
}
.sectionList-para2,
.sectionList-para3 {
  font-family: Manrope;
}
.sectionList-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.sectionList-btn {
  color: #ef8f83;
  border: 1px solid #ef8f83;
}
.sectionList-btn:hover {
  background: #ef8f83;
  color: #fff;
}

@media screen and (max-width: 745px) {
  .sectionList-footer {
    display: flex;
    flex-direction: column;
    line-height: 40px;
  }
}
@media screen and (max-width: 550px) {
  .sectionList-footer {
    display: flex;
    flex-direction: column;

    line-height: 50px;
  }
  .sectionListContainer {
    height: auto;
    width: auto;
    margin: 40px 0px;
  }
}
