.stopwatch-container {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  height: 730px;
  align-items: center;
  text-align: center;
}
span {
  font-size: 20px;
  font-weight: bold;
}
.btn-container {
  margin-top: 20px;
}
.start,
.stop,
.resume,
.reset {
  border: none;
  margin: 10px;
  padding: 10px 30px;
  font-family: Manrope;
  font-weight: 700;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.start:hover {
  background: lightcoral;
  cursor: pointer;
}
.stop:hover {
  background: lightgreen;
  cursor: pointer;
}
.resume:hover {
  cursor: pointer;
  background: rgb(237, 218, 45);
}
.reset:hover {
  cursor: pointer;
  background: rgb(37, 232, 232);
}
